include ./../layout.pug
div(class="container")
    h3(class="mt-2 mb-2") Login
    form(method="POST" action="/login")
        div(class="form-group")
            label(for="name") Name
            input(type="text" class="form-control" id="name" name="name" aria-describedby="name" placeholder="Enter Your Name" required)
        div(class="form-group")
            label(for="Email") Email
            input(type="email" class="form-control" id="Email" name="email" aria-describedby="email" placeholder="Enter Your Email" required)
        div(class="form-group")
            label(for="password") Password
            input(type="password" class="form-control" id="password" name="password" aria-describedby="password" placeholder="Enter Your Password" required)
        div(class="form-group")
            input(type="submit" class="btn btn-primary"  aria-describedby="submit" value="Login")
        a(href="/register") Register