
div(class="d-flex justify-content-end align-items-center")
    p(class="mb-0") Add Person
    button(type="button" class="modalDeleteButton btn btn-primary pull-right"  data-toggle="modal" data-target="#modalAdd") 
        i(class="material-icons") add
form(method="POST" action="/data" id="addModalForm")
    div(class="modal fade" id="modalAdd" tabindex="-1" role="dialog"  aria-hidden="true")
        if error 
            h3 #{errors}
        div(class="modal-dialog modal-confirm" role="document")
            div(class="modal-content")
                div(class="modal-header")
                    h4(class="modal-title" class="mb-2" id="exampleModalLabel") Add New Person
                    button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") &times;
                    div(class="form-group")
                        input(type="text" class="form-control"  name="firstName" required placeholder="First Name")
                    div(class="form-group")
                        input(type="text" class="form-control"  name="lastName" required placeholder="Last Name")
                    div
                        input(type="email" class="form-control"  name="email" required placeholder="Email")
                    div(class="modal-footer")
                        button(type="button" class="btn btn-secondary" data-dismiss="modal") Close
                        button(type="submit" class="btn btn-primary") Add