
form(method="POST" action="" class="d-inline-block" id="deleteModalForm")
    div(class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
        div(class="modal-dialog modal-confirm" role="document")
            div(class="modal-content")
                div(class="modal-header")
                    div(class="icon-box icon-box-delete")
                        i(class="material-icons text-danger") &#xE5CD;
                    h4(class="modal-title" id="exampleModalLabel") Are you sure?
                    button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") &times;
                div(class="modal-body") Do you really want to delete this record? This process cannot be undone.
                div(class="modal-footer")
                    button(type="button" class="btn btn-secondary" data-dismiss="modal") Close
                    button(type="submit" class="btn btn-danger") Delete