
form(method="POST" action=""  class="d-inline-block" id="updateModalForm")
    div(class="modal fade" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
        div(class="modal-dialog modal-confirm" role="document")
            div(class="modal-content")
                div(class="modal-header")
                    h4(class="modal-title" class="mb-2" id="exampleModalLabel") Are you sure?
                    button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") &times;
                    div(class="form-group")
                        input(type="text" class="form-control" id="app-update-firstName" name="firstName" required)
                    div(class="form-group")
                        input(type="text" class="form-control"  id="app-update-lastName" name="lastName" required)
                    div(class="form-group")
                        input(type="email" class="form-control"  id="app-update-email" name="email" required)
                    div(class="modal-body") Do you really want to update this record?
                    div(class="modal-footer")
                        button(type="button" class="btn btn-secondary" data-dismiss="modal") Close
                        button(type="submit" class="btn btn-warning") Update