<!-- Pagination -->

if pages > 1
    ul(class="pagination justify-content-center mt-4")
        if current === 1
            li(class="page-item disabled")
                a(class="page-link" href="#") First
        else 
            li(class="page-item")
                a(class="page-link" href="/1") First
        -var i = Number(current) > 5 ? Number(current) - 4 : 1 
        if i !== 1 
            li(class="disabled page-item")
                a(class="page-link") ...
        -for(; i <=(Number(current) + 4) && i<= pages; i++)
            if(i === current) 
                li(class="page-item active")
                    a(class="page-link") #{i}
            else 
                li(class="page-item") 
                    a(class="page-link" href=`/${i}`) #{i}
            if (i == Number(current) + 4 && i < pages)
                li(class="page-item disabled")
                    a(class="page-link") ...
        if(current == pages)
            li(class="page-item disabled")
                a(class="page-link") Last 
        else
            li(class="page-item")
                a(class="page-link" href=`/${pages}`) Last