extends layout.pug
block appContent
    div(class="mt-0 pt-4")
        div(class='container')
                div(class="row")
                    div(class="col-md-3")
                        input(type="text" class="form-control mt-2" id="inputFirstName" name="firstName" value=`${data.firstName}` placeholder="First Name")
                    div(class="col-md-3")
                        input(type="text" class="form-control mt-2" id="inputLastName" name="lastName" value=`${data.lastName}` placeholder="Second Name")
                    div(class="col-md-3")
                        input(type="text" class="form-control mt-2" id="inputEmail" name="email" value=`${data.email}` placeholder="Email")
                    div(class="col-md-3 d-flex align-items-end")
                        input(type="submit" class="editModalForm mt-2 form-control btn btn-warning" value="Update" data-id=`${data._id}`)


    <!-- Update Modal -->
    form(method="POST" action="" class="d-inline-block" id="editModalForm")
        div(class="modal fade" id="modalUpdate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")
            div(class="modal-dialog modal-confirm" role="document")
                div(class="modal-content")
                    div(class="modal-header")
                        div(class="icon-box icon-box-update")
                            i(class="material-icons text-warning") &#x2714; 
                        h4(class="modal-title" id="exampleModalLabel") Are you sure?
                        button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                            span(aria-hidden="true") &times;
                    div(class="modal-body") Do you really want to update this record? This process cannot be undone.
                    div(class="modal-footer")
                        input(type="hidden" name="firstName" id="firstNameModal")
                        input(type="hidden" name="lastName" id="lastNameModal")
                        input(type="hidden" name="email" id="emailModal")
                        a(class="btn btn-secondary" href="/") Close
                        button(type="submit" class="btn btn-warning") Update