extends layout.pug
block appContent
    div(class="mt-0 pt-4")
        div(class='container mb-5')
            include includes/addModal.pug
            table(class="table mt-5 table-hover table-borderless table-responsive-md")
                thead(class="bg-secondary text-white")
                    tr
                        th(scope="col") First Name
                        th(scope="col") Last Name
                        th(scope="col") Email
                        th(scope="col" class="text-center") Edit/Delete
                tbody
                    each data, index in pageData
                        tr 
                            td= data.firstName
                            td= data.lastName
                            td= data.email
                            td(class="d-flex justify-content-center")
                                div(class="app-update-data")
                                    input(type="hidden"  value=`${data.firstName}`)
                                    input(type="hidden"  value=`${data.lastName}`)
                                    input(type="hidden"  value=`${data.email}`)
                                    button(type="submit" class="btn btn-warning" data-id=`${data._id}` data-toggle="modal" data-target="#modalEdit") Edit
                                <!-- Modal Delete Trigger Button -->
                                button(type="button" class="modalDeleteButton btn btn-danger" data-id=`${data._id}` data-toggle="modal" data-target="#modalDelete") Delete
            <!-- Pagination -->
            if pages > 1
                ul(class="pagination justify-content-center mt-4")
                    if current === 1
                        li(class="page-item disabled")
                            a(class="page-link" href="#") First
                    else 
                        li(class="page-item")
                            a(class="page-link" href="/1") First
                    -var i = Number(current) > 5 ? Number(current) - 4 : 1 
                    if i !== 1 
                        li(class="disabled page-item")
                            a(class="page-link") ...
                    -for(; i <=(Number(current) + 4) && i<= pages; i++)
                        if(i === current) 
                            li(class="page-item active")
                                a(class="page-link") #{i}
                        else 
                            li(class="page-item") 
                              a(class="page-link" href=`/${i}`) #{i}
                        if (i == Number(current) + 4 && i < pages)
                            li(class="page-item disabled")
                                a(class="page-link") ...
                    if(current == pages)
                        li(class="page-item disabled")
                            a(class="page-link") Last 
                    else
                        li(class="page-item")
                            a(class="page-link" href=`/${pages}`) Last        

            <!-- Include Delete Modal -->
            include includes/deleteModal.pug
            <!-- Include Edit Modal -->
            include includes/editModal.pug
                    