doctype html
html(lang='en')
    head
        title CRUD APP
        link( rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
        link( rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
        link(href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet")
        link( rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
        link( rel="stylesheet" href="/css/main.css")

        body(class="bg-light")     
            div(class="bg-secondary")
                div(class="container")
                    nav(class="navbar navbar-expand-lg pl-0 pr-0 navbar-light")
                        a(class="navbar-brand text-white" href="/") Regiso
                        button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
                            span(class="navbar-toggler-icon")
                        div(class="collapse navbar-collapse align-items-center justify-content-end" id="navbarSupportedContent")
                            form( mehtod="GET" action="/search" class="app-search-form form-row" id="app-search-form")
                                div(class="position-relative w-100")
                                    input(class="form-control app-search-input" type="search" placeholder="Search for a person" aria-label="Search" name="search" required)
                                    button(type="submit" value="search" class="app-search-button position-absolute")
                                        i(class="material-icons") search
                            div(class="d-flex align-items-center justify-content-center") 
                            if  pageUrl != "/search"
                                i(class="app-search-icon material-icons text-white d-none d-lg-block" id="app-search-icon") search
                            // a(class="btn btn-danger" href="/login") Login
                            // a(class="btn btn-dark" href="/register") Register
            block appContent
        footer(class="fixed-bottom bg-secondary pt-3 pb-3")
            div(class="container text-center")
                span(class="text-light") All rights reserved unbk15@gmail.com.
        script( src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
        script( src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
        script( src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous")
        script( src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js")
        script( src="/js/main.js")