extends layout.pug
block appContent
    div(class='container')
        form( mehtod="GET" action="/search" class="mt-5" id="app-search-form")
            div(class="position-relative w-100")
                input(class="form-control app-search-input" type="search" value=`${searchQuery}` placeholder="Search for a person" aria-label="Search" name="search" required)
                button(type="submit" value="search" class="app-search-button position-absolute")
                    i(class="material-icons") search
        
        if pages > 0

            table(class="table mt-5 table-hover table-borderless table-responsive-md")
        
                thead(class="bg-secondary text-white")
                    tr
                        th(scope="col") First Name
                        th(scope="col") Last Name
                        th(scope="col") Email
                tbody
                    each data, index in pageData
                        tr 
                            td= data.firstName
                            td= data.lastName
                            td= data.email
        else 
            h5(class="mt-2") No results found.

        if pages > 1

            ul(class="pagination justify-content-center mt-4")
                if current === 1
                    li(class="page-item disabled")
                        a(class="page-link" href="#") First
                else 
                    li(class="page-item")
                        a(class="page-link" href=`/search/1/${searchQuery}`) First
                -var i = Number(current) > 5 ? Number(current) - 4 : 1 
                if i !== 1 
                    li(class="disabled page-item")
                        a(class="page-link") ...
                -for(; i <=(Number(current) + 4) && i<= pages; i++)
                    if(i === current) 
                        li(class="page-item active")
                            a(class="page-link") #{i}
                    else 
                        li(class="page-item") 
                            a(class="page-link" href=`/search/${i}/${searchQuery}`) #{i}
                    if (i == Number(current) + 4 && i < pages)
                        li(class="page-item disabled")
                            a(class="page-link") ...
                if(current == pages)
                    li(class="page-item disabled")
                        a(class="page-link") Last 
                else
                    li(class="page-item")
                        a(class="page-link" href=`/search/${pages}/${searchQuery}`) Last



                    