/*====================
    GLOBAL STYLING 
=====================*/

body {
  min-height: 100vh;
  position: relative;
  margin: 0;
}

.btn {
  text-decoration: none;
  transition: all 0.4s;
  line-height: normal;
  border: none;
  border-radius: 3px;
  margin: 0 5px;
  color: #ffffff;
  outline: none !important;
}

.btn:hover {
  color: #ffffff;
}

/*====================
  MODAL
=====================*/

.modal-confirm {
  max-width: 400px;
}

.modal-confirm .modal-content {
  padding: 20px;
  border-radius: 5px;
  border: none;
  text-align: center;
  font-size: 14px;
}

.modal-confirm .modal-header {
  border-bottom: none;
  position: relative;
  flex-direction: column;
  align-items: center;
}

.modal-confirm h4 {
  font-size: 26px;
  font-weight: bold;
  margin: 30px 0 -10px;
}

.modal-confirm .close {
  position: absolute;
  top: -5px;
  right: -2px;
}

.modal-confirm .modal-footer {
  justify-content: center;
  border: none;
}

.modal-confirm .icon-box {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  border-radius: 50%;
  z-index: 9;
}

.modal-confirm .icon-box i {
  font-size: 46px;
  display: inline-block;
  margin-top: 13px;
}
/*==============================
  NAVBAR
===============================*/

.navbar {
  align-items: initial;
}

/*==============================
    NAVIGATION && SEARCH FORM
===============================*/

.app-search-icon {
  cursor: pointer;
}

.app-search-form {
  display: none;
}

.app-search-button {
  background: transparent;
  right: 0;
  outline: none;
  border: none;
  transform: translateY(-100%);
}

.app-search-button:focus {
  outline: 0;
}

.app-search-input::-webkit-search-cancel-button {
  display: none;
}

/*==============================
    MODAL DELETE
===============================*/

.icon-box-delete {
  border: 3px solid #dc3545;
}

/*==============================
    MODAL UPDATE
===============================*/

.icon-box-update {
  border: 3px solid #ffc107;
}

/*==============================
      FOOTER
===============================*/

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
}

/*===============================
    RESPONSIVE
================================*/

@media (max-width: 576px) {
  .modal-dialog {
    margin: 1.75rem auto;
  }
}

@media (max-width: 990px) {
  .app-search-form {
    width: 100%;
    display: block;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

@media (min-width: 991px) {
  .app-search-form {
    width: 50%;
    margin: 0 0.5rem 0 0;
  }
}
